body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

logo img {
    max-height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.search-box {
    display: flex;
}

search-box input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

search-box button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ddd;
    cursor: pointer;
}

main {
    padding: 20px 0;
}

#featured-addons, #all-addons {
    margin-bottom: 20px;
}

.addon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.addon-item {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.addon-item:hover {
    transform: translateY(-5px);
}

.addon-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.addon-item h3 {
    margin-bottom: 5px;
}

.addon-item p {
    margin-bottom: 10px;
}

.addon-item a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.teks-besar {
  font-size: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.logo img {
  border-radius: 50%; /* Membuat logo menjadi bulat */
}
